
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
  <form action="AddUser1" method="post">
      <div>姓名：<input type="text" name="name" /></div>
      <div>年龄：<input type="text" name="age" /></div>
      <div>性别：
        <select name="sex">
            <option>男</option>
            <option>女</option>
        </select>
      </div>
      <div><button type="submit" name="提交" value="增加" title="title">新增</button></div>
  </form>
</body>
</html>
